.container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.stockTableContainer {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    margin: 20px auto;
    background: -webkit-linear-gradient(#1a1818, #1d1b1b);
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
}

.recharts-wrapper {
    position: absolute;
}


@media (max-width: 768px) {
    .stockTableContainer {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .stockTableContainer {
        margin-bottom: 0px;
    }
}