.overlayContainer {

    display: flex;
    justify-content: space-between;
    height: 20%;
}

.overlayUnitContainer{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 25%;
    transition: transform .5s ease;
}

.overlayUnitContainer:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.overlayUnit {
    width: 95%;
    height: 100%;
    background: -webkit-linear-gradient(#1a1818, #1d1b1b);
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
    justify-content: center;
}

.overlayHeaderContainer {
    display: flex;
    width: 100%;
    text-align: left;
    height: 20%;
}

.overlayHeaderImage {
    /* display: flex;
    justify-content: center; */
    margin: auto;
    width: 10%;
    margin-left: 10px;
}

.stockLogo {
    /* height: 100%; */
    width: 100%;
    border-radius: 100%;
}

.overlayHeaderCurrency {
    width: 10%;
    color: gray;
    font-size: 15px;
    margin: 10px;
}

.overlayHeader {
    width: 80%;
    color: #CCC;
    font-size: 20px;
    margin: 5px;
}

.overlayCPriceContainer {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlayCurrentPrice {
    text-align: center;
    color: #EEE;
    font-size: 40px;
}

.overlayPriceChangesContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}

.overlayPriceChangeValue {
    color: green;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.overlayPriceChangePercent {
    color: green;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.negativeValue {
    color: rgb(209, 52, 52);
}

@media (max-width: 480px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .overlayContainer {
        display: none;
    }
    .overlayUnit {
        background-color: #111;
    }
    .overlayPriceChangeValue {
        display: none;
    }
    .overlayPriceChangePercent {
        display: none;
    }
    .overlayCurrentPrice {
        font-size: 20px;
    }
    .overlayHeaderImage {
        width: 30%;
    }
    .overlayHeaderCurrency {
        display: none;
    }
}

@media (max-width: 768px) {
    .overlayContainer {
        width: 95%;
        margin: auto;
    }
    .overlayUnitContainer {
        width: 25%;
    }
}

@media (min-width: 1025px) {
    .overlayHeaderCurrency {
        font-size: 15px;
        margin: 10px;
    }
    .overlayHeader {
        font-size: 20px;
        margin-top: 4px;
        margin-left: 5px
    }
    .overlayCurrentPrice {
        font-size: 40px;
    }
    .overlayPriceChangeValue {
        font-size: 18px;
    }
    .overlayPriceChangePercent {
        font-size: 18px;
    }
}

@media (min-width: 1301px) {
    .overlayHeaderCurrency {
        font-size: 18px;
        margin: 12px;
    }
    .overlayHeader {
        font-size: 24px;
        margin-top: 5px;
        margin-left: 8px
    }
    .overlayCurrentPrice {
        font-size: 60px;
    }
    .overlayPriceChangeValue {
        font-size: 21px;
    }
    .overlayPriceChangePercent {
        font-size: 21px;
    }
}