.cardContainer {
    display: flex;
    justify-content: center;
    height: 25%;
    width: 100%;
}

.insiderCardContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100%;
}

.insiderContainer {
    height: 100%;
    width: 48%;
    position: relative;
    margin: auto 0;
    background: -webkit-linear-gradient(#1a1818, #1d1b1b);
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
}

.analystChart {
    height: 75%;
}

.insiderHeaderContainer {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insiderHeader {
    background: -webkit-linear-gradient(#FF8800, #FFAA00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    font-weight: 500;

}

.insiderName {
    color: #FF6600;
}

.nullName {
    color: white;
}
F
.insiderItemContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.insiderInfoContainer {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentInsiderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    font-size: 20px;
}

.insiderSearchBox {
    /* padding: 10px; */
    border: 1px solid #ccc;
    margin-top: 1px;
    border-radius: 5px;
    /* width: 100%; */
    /* box-sizing: border-box; */
    background-color: #111;
    color: #999;
    font-size: 20px;
    padding-left: 30px;
    width: calc(100% - 30px);
}

.searchBoxWithIcon {
    position: relative;
    display: inline-block;
    width: 80%;
}

.searchIcon {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top: 3px;
    padding-left: 5px;
}

.searchBarAndResults {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    overflow: auto;
}

.searchResultContainer {
    width: 80%;
}

.searchResultOption {
    color: white;
}

.searchResultOption:hover {
    color: #FFA500;
}

.insiderInfoRow {
    height: 30%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CCC;
    font-size: 15px;
}

.insiderInfoItemLeft {
    margin-left: 14px;
    margin-top: auto;
    margin-bottom: auto;
    color:  #CCC;
}

.insiderInfoItemRight {
    margin-right: 14px;
    margin-top: auto;
    margin-bottom: auto;
    color:  #AAA;
}

.positiveColor {
    color: green;
    font-weight: 600;
}

.negativeColor {
    color: rgb(209, 52, 52);
    font-weight: 600;
}

@media (max-width: 480px) {
    .insiderCardContainer {
        flex-direction: column-reverse;
        width: 100%;
    }
    .insiderContainer {
        width: 95%;
        height: 100%;
        margin-top: 20px;
    }
    .lastContainer {
        margin-bottom: 45px;
    }
    .insiderHeader {
        height: 30%;
    }
    .analystChart {
        height: 120px;
    }
    .insiderInfoRow {
        min-height: 30px;
    }
    .insiderInfoItemLeft {
        margin-left: 10px;
    }
    .insiderInfoItemRight {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .insiderInfoRow {
        height: 27%;
    }
    .insiderInfoItemLeft {
        margin-left: 5px;
    }
    .insiderInfoItemRight {
        margin-right: 5px;
    }
    .analystChart {
        height: 180px;
    }
}

@media (min-width: 1025px) {
    .insiderInfoRow {
        font-size: 15px;
    }
    .insiderHeader {
        font-size: 22px;
        font-weight: 500;
    }
}

@media (min-width: 1301px) {
    .insiderInfoRow {
        font-size: 20px;
    }
    .insiderHeader {
        font-size: 25px;
        font-weight: 500;
    }
}
