.experienceContainer {
    height: 40%;
    width: 60%;
    margin: auto;
    margin-top: 3%;
    font-family: Tahoma, sans-serif;
    text-align: left;
}

.experienceHeader {
    color: #CCC;
    font-size: 20px;
}

.experienceBody {
    color: #CCC;
    font-size: 18px;
}

.experienceBulletList {
    font-size: 18px;
    color: #BBB;
    text-align: left;
    list-style-type: disc
}

.experienceBullet {
    margin-bottom: 1%;
}

.textLink {
    color: #FFA500;
    margin: 1px;
}

.textLink:hover {
    color: #ff7b00;
    border: dashed 1px;
    margin: 0px;
}

@media (max-width: 480px) {
    .experienceContainer {
        height: 40%;
        width: 80%;
    }
    .experienceHeader {
        font-size: 24px;
    }
    .experienceBulletList {
        font-size: 22px;
    }
    .experienceBody {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .experienceContainer {
        height: 40%;
        width: 80%;
    }
    .experienceHeader {
        font-size: 24px;
    }
    .experienceBulletList {
        font-size: 22px;
    }
    .experienceBody {
        font-size: 22px;
    }
}

@media (min-width: 1025px) {

}

@media (min-width: 1301px) {

}