.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#FF3300, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 500;
    font-family: Tahoma, sans-serif;
    height: 10%;
}