.stockCardContainer {
    display: inline;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.stockInfoContainer {
    border-radius: 20px;
    width: 100%;
    height: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(#1a1818, #1d1b1b);
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
    margin: 20px auto ;
}

.stockSearchContainer {
    height: 25%;
}

.stockSearchBox {
    height: 100%;
    width: 90%;
}

.stockInfoHeader {
    height: 20%;
    width: 90%;
    background: -webkit-linear-gradient(#FF8800, #FFAA00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stockSearchHeader {
    height: 30%;
    width: 100%;
    background: -webkit-linear-gradient(#FF8800, #FFAA00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preventSearchResultOverflow {
    height: 0dvh;
    width: 100%;
}

.preventSearchResultOverflow2 {
    height: 10%;
    width: 100%;
}

.stockSearchItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
    /* height: 50%; */
}

.stockInfoRow{
    padding: 10px;
    border-top: 1px solid #ccc;
    height: 17%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.bottom {
    border-bottom: 0px;
}

.stockInfoItemLeft {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color:  #CCC;
}

.rightUSDValue {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: green;
}

.stockInfoItemRight {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color:  #999;
}

.searchBarAndResults {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    /* overflow: visible; */
    width: 90%;
    padding: 1px;
    margin-top: 5px;
}

.searchBoxWithIcon {
    position: relative;
    display: inline-block;
    width: 80%;
}

.searchBarContainer {
    width: 100%;
}

.searchStockBar {
    width: calc(100% - 30px);
    padding-left: 30px;
    border-width: 0px;
    border-radius: 5px;
    background-color: #111;
    font-size: 23px;
    border: 1px solid #ccc;
    margin-top: 1px;
    color: #999;
}

.searchResultContainer {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
}

.searchResultOption {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    background-color: #1a1818;
    /* z-index: 100; */
}

.searchIcon {
    font-size: 20px;
    padding-top: 5px;
    color: #888;
}

.searchResultOption:hover {
    /* background-color: #ccc; */
}

.clearSearchButton {
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 10px; */
    /* border-radius: 0 5px 5px 0; */
    padding-top: 6px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    color: #DDD;
    background-repeat:no-repeat;
    font-size: 18px;
}

.clearSearchButton:hover {
    color: #FF8800;
}

.searchBarWithButton {
    display: flex;
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
}

@media (min-width: 1025px) {
    .searchStockBar {
        font-size: 25px;
    }
    .stockInfoItemLeft {
        font-size: 18px;
    }
    .stockInfoItemRight {
        font-size: 18px;
    }
    .rightUSDValue {
        font-size: 18px;
    }
    .stockInfoHeader {
        font-size: 22px;
    }
    .stockSearchHeader {
        font-size: 22px;
    }
    .searchIcon {
        font-size: 22px;
        padding-top: 6px;
    }
    .clearSearchButton {
        padding-top: 6px;
        font-size: 22px;
    }
}

@media (min-width: 1301px) {
    .searchStockBar {
        font-size: 30px;
    }
    .stockInfoItemLeft {
        font-size: 22px;
    }
    .stockInfoItemRight {
        font-size: 22px;
    }
    .rightUSDValue {
        font-size: 22px;
    }
    .stockInfoHeader {
        font-size: 25px;
    }
    .stockSearchHeader {
        font-size: 25px;
    }
    .searchIcon {
        font-size: 25px;
        padding-top: 8px;
    }
    .clearSearchButton {
        padding-top: 8px;
        font-size: 22px;
    }
}