.selected{
    /* background: -webkit-linear-gradient(#FF8800, #FFA500); */
    color: #FFA500;

}

.notSelected {
    border-color: black;
    color: #BBB;
    border: 1px #222;
}

.tlButtonContainer {
  width: 100%;
  height: 40%;
}

/* CSS */
.tlButton {
  border: 1px solid;
  background-color: #222;
  border-radius: 9px;
  cursor: pointer;
  display: inline-block;
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 550;
  width: 20%;
  /* line-height: 1.5; */
  outline: transparent;
  /* padding: 0 1rem; */
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}


.tlButton:not([disabled]):hover {
  box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.5), -.125rem -.125rem .5rem rgba(239, 71, 101, 0.5), .125rem .125rem .5rem rgba(255, 154, 90, 0.5);
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
}

@media (min-width: 1025px) {

}

@media (min-width: 1301px) {
  .tlButton {
    font-size: 20px;
  }
}