.App {
  text-align: center;
  width: 100%;
  background-size:contain;
  background-color: #222;
  background-size: cover;             
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.everything {
  margin-top: 30px;
}

.ccContainer {
  width: 100%;
  height: 85vh;
}

.reorderContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.chartContainer {
  flex: 1; 
  height: 100%; 
}

.scContainer {
  display: flex;
  width: 30%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .everything {
    margin-top: 10px;
  }
  .ccContainer {
    display: block;
    height: 100%;

  }
  .reorderContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .scContainer {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }
}

@media (max-width: 768px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}

@media (min-width: 1025px) {
}

@media (min-width: 1301px) {
}